header{
    background-color: rgb(255, 255, 255);
    color:azure
}


h1{
    background-color: rgb(84, 206, 255);
    text-align: center;
    padding: 45px;
    font-family: "Faster One", system-ui;
}
h3{
    text-align: center;
    text-shadow: 13cm;
    padding: 10px;
}

img{
    width: 400px;
    height: 350px;
}
h2{
    text-align: center;
    padding: 15px;
}
.col-12{
    padding: 15px;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    margin: 0;
    padding: 20px;
    width: 100%;

}
.mb-3{
    bottom: 0px;
}
.pie{
    margin: -12px;
    display: flex;

    

}
